<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U.S.O.</title>
<!--    <link rel="icon" href="img/favicon.png" type="image/x-icon">-->
<!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="../static/css/USO.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <header>
            <ul class="nav-bar">
                <li><a class="nav-a" href="#">home</a></li>
                <li><a class="nav-a" href="#">portfolio</a></li>
                <li><a class="nav-a" href="#">about us</a></li>
                <li><a class="nav-a" href="#">contact</a></li>
            </ul>
        </header>
        <section>
        <div class="items-wrapper">
            <div>
                <h1 class="title-1">our strong <br>organaisation</h1>
                <p class="p1">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod<br>tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod<br>tempor incididunt.</p>
                <a class="contact-us" href="#">Contact Us</a>
            </div>
            <div class="div-video-img">
                <img class="video-img" src="static/img/fon.jpg" alt="">
            </div>
        </div>
        </section>
    </div>
    <section>
        <div class="header-container-2">
            <div class="items-wrapper-2">
                <div class="items-wrapper-2-block-1">
                    <h2 class="title-2">do you know we can provide for you ?</h2>
                    <p class="p1">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.</p>
                    <a class="learn-more" href="#">Learn More</a>
                </div>
                <div class="items-wrapper-2-block-2">
                    <img src="static/img/Шестеренка.svg" alt="">
                    <h3 class="title-2-1">Management</h3>
                    <p class="p2">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor</p>
                    <img src="static/img/Алмаз.svg" alt="">
                    <h3 class="title-2-1">Logo / Branding</h3>
                    <p class="p2">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioeew idolor sit amet,</p>
                </div>
                <div>
                    <img src="static/img/Карандаш.svg" alt="">
                    <h3 class="title-2-1">UI /UX Design</h3>
                    <p class="p2">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet,</p>
                    <img src="static/img/Грузовик.svg" alt="">
                    <h3 class="title-2-1">Animation</h3>
                    <p class="p2">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet, consect netur.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="header-container-3">
            <div class="items-wrapper-3">
                <div>
                    <h2 class="title-3">feature products</h2>
                    <p class="p3">Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod<br>tempor incididunt ut labore et.</p>
                    <hr class="red-line-3">
                </div>
                <div>
                    <ul class="nav-bar-3">
                        <li><a  class="nav-el-3" href="#">all</a></li>
                        <li><a  class="nav-el-3" href="#">print template</a></li>
                        <li><a  class="nav-el-3" href="#">web template</a></li>
                        <li><a  class="nav-el-3" href="#">user interface</a></li>
                        <li><a  class="nav-el-3" href="#">mock-up</a></li>
                    </ul>
                </div>
                <div class="squares-3">
                    <div class="blue-square"></div>
                    <div class="blue-square"></div>
                    <div class="blue-square"></div>
                    <div class="blue-square"></div>
                </div>
                <div class="squares-3">
                    <div class="blue-square"></div>
                    <div class="blue-square"></div>
                    <div class="blue-square"></div>
                    <div class="blue-square"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-4">
        <div class="head-4">
            <h2 class="title-4">Meet our team</h2>
            <p class="p2">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod
                tempor incididut labore Ui / Ux , print template.</p>
            <hr class="red-line-4">
        </div>
        <div class="body-4">
            <div class="big-red-square"></div>
            <div class="right-body-4">
                <div class="head-4-1">
                    <h3 class="title-4-1">mark waugh</h3>
                    <p class="p2">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing
                        eiusmod tempor incididut labore Ui / Ux , print template.</p>
                </div>
                <div class="nav-4">
                    <ul class="nav-bar-4">
                        <li class="nav-el-4"><em>Facebook</em></li>
                        <li class="nav-el-4"><em>Dribble</em></li>
                        <li class="nav-el-4"><em>Behance</em></li>
                        <li class="nav-el-4"><em>Twiter</em></li>
                    </ul>
                </div>
                <div class="red-squares-4">
                    <div class="red-square-4-1" data-title="sokina jue"></div>
                    <div class="red-square-4-1" data-title="какой-то текст 1"></div>
                    <div class="red-square-4-1" data-title="какой-то текст 2"></div>
                    <div class="red-square-4-1" data-title="какой-то текст 3"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-5">
        <div class="head-5">
            <h2 class="title-5 title-4">Design tips, tricks, and freebies. Delivered weekly.</h2>
            <p class="p-5 p4">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.</p>
        </div>
        <form class="mail-container" action="" method="get">
            <input name="mail-address" placeholder="Email Address..." class="input-5" type="search">
            <button class="button-5 contact-us" type="submit">subscribe</button>
        </form>
    </section>
    <secton class="section-6">
        <div class="head-6 head-4">
            <h2 class="title-4">get in touch</h2>
            <p class="p2">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut
                labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            <hr class="red-line-4">
        </div>
        <div class="message-contact">
            <form class="send-message" action="" method="get">
                <div class="mess-top">
                    <input type="search" class="mess-name input-5" placeholder="Name" name="mess-name">
                    <input type="search" class="your-mail input-5" placeholder="Your Mail" name="your-mail">
                </div>
                <div class="mess-bot">
                    <input type="search" class="mess-text input-5" placeholder="Type your message" name="mess-text">
                    <button class="button-6 contact-us">send message</button>
                </div>
            </form>
            <div class="contact-info">
                <div class="contact-info-wrapper">
                    <h4>contact info</h4>
                    <address>Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh</address>
                    <p>redwan@deviserweb.com</p>
                    <p>(+88) 017 617 46373</p>
                </div>
            </div>
        </div>
    </secton>
    <footer class="footer">
        <div class="footer-wrapper">
            <p>&copy; Copyright &#64;Junaed 2016, All rights reserved.</p>
            <ul class="social">
                <li><img src="static/img/twitter.svg" alt="" class="soc-img"></li>
                <li><img src="static/img/in.svg" alt="" class="soc-img"></li>
                <li><img src="static/img/google.svg" alt="" class="soc-img"></li>
                <li><img src="static/img/facebook.svg" alt="" class="soc-img"></li>
            </ul>
        </div>
    </footer>
</body>
</html>